@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

body,
button,
input,
select,
textarea {
  font-family: "Poppins", sans-serif;
}

* {
  box-sizing: border-box;
}

:root {
  --purple: rgb(221, 19, 211);
  --green: #eca520;
  --bg-dark: #212226;
  --light-grey: #e0dede;

  --menu-height: 1.5rem;
}

html,
body {
  margin: 0;
  background: var(--bg-dark);
}

h1 {
  font-size: 44px;
}

h2 {
  font: 24px;
}

h1,
h2 {
  margin: 0;
  font-weight: 400;
}

p {
  color: var(--light-grey);
}

button {
  background-color: var(--purple);
  border: 0;
  border-radius: 16px;
  padding: 8px 35px;
  font-weight: bold;
  font-size: 18px;
}

.title-purple {
  color: var(--purple);
}

.title-green {
  color: var(--green);
}

header {
  height: calc(100vh - var(--menu-height));
  display: flex;
  align-items: center;
}

header .container {
  width: 50%;
  height: fit-content;
  padding: 0 100px;
}

header .container img {
  display: none;
}

header .container button {
  margin-top: 40px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--menu-height);
  background: var(--bg-dark);
  padding: 0 100px;
  position: sticky;
  top: 0.1rem;

  z-index: 100;
}

nav img {
  display: none;
}

nav ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

nav ul a {
  font-size: 2rem;
  color: var(--green);
  text-decoration: none;
}

nav ul a svg {
  display: none;
}

section {
  height: 100%;
}

/* Sessão Sobre Mim */
.about-me {
  display: flex;
  padding: 100px;
}

.about-me .container {
  width: 50%;
  padding-right: 50px;
}

.about-me .img-container {
  width: 50%;
  text-align: center;
  position: relative;
}

.about-me .img-container img {
  margin-right: 0.5rem;
  width: 40%;
  height: 70%;
  border-radius: 10px;
  transform: rotate(-1deg);
  object-fit: cover;
  object-position: top;
}

.about-me .img-container .line {
  width: calc(45% + 0.7rem);
  position: absolute;
  height: calc(70% + 1.4rem);
  border: 1px solid var(--purple);
  border-radius: 10px;
  top: -12px;
  left: calc(50% - 35% / 2 - 40px);
}

.about-me .img-container .line.green {
  transform: rotate(-2.8deg);
  color: var(--green);
}

/* Sessão sobre serviços */
.services {
  text-align: center;
}

.services h1,
h2 {
  color: var(--green);
}

.services .services-container {
  display: flex;
  margin: 1rem;
  justify-content: space-between;
  align-items: center;
  font-weight: 300;
  font-size: 1.2rem;
}

.services .services-container .services-card {
  background-color: #2f3034;
  border: 1px solid var(--purple);
  border-radius: 16px;
  width: 100%;
  margin: 0.8rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.services .services-container .services-card p {
  font-size: 1rem;
}

.services .services-container .services-card svg {
  color: black;
  margin-bottom: 0.5rem;
}
.services .services-container .services-card .circle {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: var(--purple);
}

/* Sessão sobre portfolio */

.portfolio {
  text-align: center;
}

.portfolio .portfolio-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 300;
  font-size: 1.2rem;
}

.portfolio .portfolio-container .portfolio-card {
  background-color: #2f3034;
  border: 1px solid var(--purple);
  border-radius: 16px;
  width: 100%;
  margin: 0.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.portfolio .portfolio-container img {
  width: 70%;
}

.portfolio .portfolio-container .portfolio-card .language-container ul {
  display: flex;
  list-style: none;
  justify-content: center;
  font-weight: 300;
  font-size: 1rem;
  padding: 0;
}

.portfolio .portfolio-container .portfolio-card .language-container ul li {
  color: var(--green);
  font-weight: 300;
  border: 0.18rem solid var(--green);
  border-radius: 50%;
  margin: 1rem;
  justify-content: space-around;
  padding: 0.2rem 0.6rem;
  
}

/* RESPONSIVIDADE */

/* Small desktop */
@media (max-width: 1000px) {
  header .container {
    width: 100%;
  }

  nav ul a {
    font-size: 16px;
  }

  nav {
    padding: 0 30px;
  }

  .about-me {
    flex-direction: column;
  }

  .about-me .container {
    padding-right: 0;
  }

  .about-me .img-container {
    margin: 50px 0;
  }

  .about-me .img-container,
  .about-me .container {
    width: 100%;
  }

  .about-me .img-container img {
    width: 40%;
    height: 30%;
  }

  .about-me .img-container .line {
    height: calc(100% + 1rem);
    left: calc(50% - 35% / 2 - 37px);
  }
  .services .services-container {
    font-size: 80%;
  }

  .portfolio .portfolio-container img {
    width: 70%;
  }

  .portfolio .portfolio-container p {
    font-weight: 300;
    font-size: 1rem;
  }
}

/* Tablet */
@media (max-width: 767px) {
  header .container {
    padding: 0 45px;
  }

  header .container img {
    display: inline;
    margin-bottom: 70px;
    height: 100px;
  }

  nav img {
    display: none;
  }
  nav ul {
    padding: 0;
  }

  nav ul a {
    font-size: 16px;
  }

  .about-me .img-container img {
    object-position: top center;
    width: 40%;
    height: 20rem;
  }

  .about-me .img-container .line {
    left: calc(50% - 35% / 2 - 37px);
  }

  .services .services-container {
    flex-direction: column;
  }

  .portfolio .portfolio-container {
    flex-direction: column;
  }
}

/* celular */
@media (max-width: 480px) {
  header .container {
    padding: 0 1rem;
  }

  header .container img {
    display: none;
  }
  nav {
    position: fixed;
    width: 100%;
    bottom: 0;
    top: unset;
    padding: 0 15px;
  }

  nav ul a {
    font-size: 12px;
  }

  nav ul a svg {
    display: block;
    margin: 0 auto 10px;
  }

  .about-me {
    padding: 2.5rem;
  }

  .about-me .img-container .line {
    left: calc(50% - 35% / 2 - 2rem);
    margin-right: 1rem;
  }

  .services .services-container .services-card {
    margin: 0.5rem;
  }

  .services .services-container .services-card .circle {
    width: 2rem;
    height: 2rem;
  }
}
