@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

body, button, input, select, textarea {
  font-family: "Poppins", sans-serif;
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0 auto;
}

:root {
    --orange: #D2872C;
    --gray: #766F68;
}

section.nav-bar .container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

section.nav-bar .container .logo {
    margin: 1rem;
    align-self: center;
    color: var(--orange);
    font-size: 1.8rem;
}

section.nav-bar .container ul  {
    padding: 0;
    margin: 1rem;
    font-weight: 300;
    font-size: 1.8rem;
    align-self: flex-end;
    text-decoration: none;
}

section.nav-bar .container ul a {
    margin: 4rem;
    font-weight: 600;
}

section.display {
    margin-top: 10rem;
    width: 50%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}

section.display h1 {
    font-size: 3.6rem;
    margin: 1rem;
    color: rgb(102, 101, 101);
    z-index: 100;
}

section.display p{
    font-size: 1.6rem;
    margin: 1rem;
    color: var(--gray);
    margin-top: 2rem;
}


section.display button {
    font-size: 1.5rem;
    color: white;
    background-color: var(--orange);
    padding: 1rem 10rem;
    border-radius: 1rem;
    margin: 2rem 0 0 0;
}

section.display img {
    position: absolute;
    width: 50rem;
    top: 1rem;
    right: -40rem;
}